body {
    margin: 4%;
}

header {
    padding: 2% 2% 1% 2%;
}

#postalCode button {
    width: 400%;
}

#postalCode button:hover {
    background-color: white;
    color: darkgray;
    text-transform: uppercase;
}

li {
    list-style-type: none;
}

#message {
    height: 5rem;
}

legend {
    font-size: 1rem;
}
